
.board{
    font-family: 'Calibri';
    display: flex;
    flex-direction: column;
    height: 800px;
    margin: auto;
}

.keyboard,.word{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.key{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    color: black;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    font-weight: bold;
}

.secret{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.secret .letter{
    font-size: 3em;
}

.key.hidden{
    background-color:black;
}

.letter{
    text-align: bottom;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
}